body {
  background-image: url(".//images/light.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons {
  display: grid;
  place-items: center;
  margin: auto;
}

button {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  background-color: rgb(5, 6, 45);
  color: #ffff;
  font-family: cursive;
  transition: all 0.7s ease;
  display: grid;
  place-items: center;
  margin: auto;
}

button:hover {
  color: #001f3f;
  background-image: linear-gradient(to right, #0099f7, #f11712);
}

button:-moz-focusring {
  outline: auto;
}

button:active {
  -webkit-animation: pulse 0.9s;
  animation: pulse 0.2s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}

.counter {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 43%;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

.reset {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 40%;
  left: 35%;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

.decrement {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 35%;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.colour {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: 34%;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-size: 70px;
  justify-content: center;
  text-align: center;
  margin: auto;
}
